%h1 Curricula

%table.table.table-condensed
  %thead
    %tr
      %th Name
      %th
      %th
      
  %tbody
    - @curricula.each do |curriculum|
      %tr
        %td= link_to curriculum.name, curriculum
        %td= link_to 'Edit', edit_curriculum_path(curriculum)
        %td= link_to 'Destroy', curriculum, :method => :delete, :data => { :confirm => 'Are you sure?' }
        
%br

= link_to 'New Curriculum', new_curriculum_path
