%h1 Timetables
%table
  %tbody
    %tr
      %th ID
      %th Costs
    - @timetables.each do |timetable|
      %tr
        %td= link_to timetable.id, show_timetable_path(timetable)
        %td= timetable.costs

%h1 Rooms
%p= link_to "Index", rooms_path
