%h1 Timetables
%p= button_to "Solve!", timetables_path
%table.table
  %tbody
    %tr
      %th ID
      %th Costs
    - @timetables.each do |timetable|
      %tr
        %td= link_to timetable.id, show_timetable_path(timetable)
        %td= timetable.costs
