// Place all the styles related to the Timetables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.room-unavailable {
  background-color: #D0D0D0
}
.room-overfull {
  background-color: #FFCCCC
}

.weekday {
  min-width: 50px !important;
  max-width: 50px !important;
  width: 50px !important;
}
.timeframe {
  min-width: 100px !important;
  max-width: 100px !important;
  width: 100px !important;
}
.timetable-row{
  height: 100px !important;
  min-height: 100px !important;
  max-height: 100px !important;
}
.timetable-cell{
  min-width: 200px !important;
  max-width: 200px !important;
  width: 200px !important;
}
